* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(250, 252, 177);
}

#rostinho {
    width: 15em;
    border-radius: 50px;
    box-shadow: 0px 4px 4px .5px black;
    padding: .1em;
    margin: 5em;
}

.tudo{
    align-items: center;
    justify-content: center;
    display: flex; 
    margin: 0em;
    padding: 0em;
}

.infos {
    text-align: center;
}

.cabecalho {
    text-align: center;
    padding-top: 1em;
}

#clicker-cont {
    width: 5%;
    text-align: center;
    border-radius: 24px;
}

.upgrade-card{
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin: 0em 45em;
    padding: 0em;
}

.botoes {
    padding: 3em;
    margin: 3em;
    text-align: center;
    background-color: white;
}

.botao-item {
    width: 10em;
    border-radius: 24px;
    box-shadow: 0px 6px 6px 0px grey;
    margin: 1em;
}

.uptitle {
    text-align: center;
    padding: 1em 0;
    margin: 0em 1em;
}